* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --left-bar: 200px;
    --top-height: 50px;
}

.flex {
    display: flex;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

/* Main Container */

.main-container {
    flex-grow: 1;
    min-height: 100px;
}

/* Left Bar */

.left-bar {
    min-width: var(--left-bar);
    background-color: black;
    flex-direction: column;
    color: #717171;
    padding: 1rem 0;
}

.left-bar>* {
    padding-left: 1rem;
    padding-right: 1rem;
}

.logo img {
    height: 2rem;
}

.logo .logo-small {
    display: none;
    height: 2rem;
}

.page-button {
    padding: 0;
}

.page-button li {
    margin: 1rem 0;
    padding-left: 1rem;
}

.page-button li:first-of-type {
    border-left: 2px solid #adff2f;
    padding-left: calc(1rem - 2px);
}

.page-button a {
    color: currentColor;
    display: flex;
    align-items: center;
}

.page-button .svg {
    width: 2rem;
    margin-right: .5rem;
    fill: currentColor;
}

.left-bar li:hover {
    color: white;
}

.left-bar a:hover {
    color: white;
}

.left-bar a:hover i {
    color: white;
}

/* Playlist */

.left-bar-my-playlist {
    overflow: auto;
}

.create-playlist h3 {
    padding-top: 1rem;
    color: white;
}

.create-playlist i {
    color: #717171;
    margin: 1rem 0;
    margin-right: .5rem;
    font-size: 2.5rem;
}

.my-playlist li {
    margin: 1rem 0;
}

.my-playlist a,
.create-playlist a {
    color: currentColor;
    align-items: center;
}

/* Bottom Left Bar */

.bottom-left-bar {
    padding-top: 2rem;
    justify-content: flex-end;
    flex-direction: column;
}

.bottom-left-bar .svg {
    width: 2rem;
    margin-right: .5rem;
    fill: currentColor;
}

.bottom-left-bar a {
    color: currentColor;
    display: flex;
    align-items: center;
}

.bottom-left-bar .svg-user {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: lightgray;
}

.bottom-left-bar hr {
    margin: 1rem 0;
}


/* Main */

main {
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    position: relative;
    background-color: #141922;
}

/* Top Bar */

.top-bar {
    height: var(--top-height);
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    min-height: 80px;
    background-color: #080b12;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.top-bar button {
    border-radius: 20px;
    margin: 2rem 1rem;
    padding: .5rem 2rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: 0.1s;
}

.top-bar button:hover {
    scale: 1.2;
}


/* Home Page */

.home-page {
    height: 100%;
    padding: 2rem;
    color: white;
}

.category ul {
    justify-content: center;
    flex-wrap: wrap;
}

.category li {
    padding: 1rem;
}

.category li:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category li .lime {
    background-color: #adff2f;
    width: 2rem;
    height: 2px;
}

.category a {
    color: #717171;
}

.category a:hover {
    color: white;
}

.covers {
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 0;
}

.container-cover-play {
    position: relative;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% / 6) - 1rem);
}

.cover button {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.artists button {
    border-radius: 50%;
}

.cover:hover button {
    display: block;
}

.cover img {
    width: 100%;
}

.cover h3 {
    text-align: center;
    padding: 1rem 0 .5rem 0;
    font-size: initial;
}

.cover-section .subtitle {
    text-align: center;
    color: #717171;
    font-size: small;
}

.artist-pic {
    border-radius: 50%;
}


/* Play Bar */

.play-bar-container {
    min-height: 100px;
    height: 80px;
    padding: 1rem;
    background-color: #282828;
    color: white;
    justify-content: space-between;
    align-items: center;
}

/* Now Playing */

.now-playing-img {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.now-playing img {
    width: 4rem;
    height: 4rem;
}

.play-bar-title-song {
    padding: 1rem;
}

.play-bar-title-song div:first-of-type {
    font-size: medium;
    color: #717171;
}

.play-bar-icon-left {
    align-items: center;
}

.play-bar-icon-left button {
    padding: .5rem;
    background-color: transparent;
    color: #717171;
}

.play-bar-icon-left button:hover {
    color: white;
}

/* Player Controls */

.player-controls {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 500px;
}

.bottom-player {
    align-items: center;
}

.bottom-player button {
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    padding: 0 .5rem;
    margin: 0 .1rem;
}

.bottom-player button:nth-of-type(3) {
    font-size: 2.5rem;
}

.bottom-player button:nth-of-type(3):hover {
    scale: 1.1;
}

.bottom-slider {
    flex-grow: 1;
    width: 100%;
    align-items: center;
}

.bottom-slider span {
    font-size: small;
}

.now-playing,
.song-menu {
    width: 25%;
}

.song-menu {
    justify-content: flex-end;
}

.song-menu-btn {
    padding: 0 1rem;
    width: 150px;
    text-align: right;
}

.song-menu-btn button {
    background-color: transparent;
    color: white;
    padding: 0 .25rem;
    margin: 0 .1rem;
}

.song-menu-volume {
    max-width: 100px;
    width: 100%;
    align-items: center;
}

/* -----------------------------SLIDER----------------------------- */

.slider {
    margin: 0 .5rem;
    margin-top: .3rem;
    height: 10px;
    width: 100%;
    background-color: #5a5a5a;
    border-radius: 50px;
    flex-wrap: wrap;
}

.bar {
    background-color: #c1c1c1;
    height: 10px;
    width: calc(100% / 2);
    border-radius: 50px;
    position: relative;
}

.bar-none {
    background-color: #5a5a5a;
    height: 10px;
    width: calc(100% / 2);
    border-radius: 50px;
}

.pointer {
    display: none;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid black;
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
}

.slider:hover .pointer {
    display: block;
}

.slider:hover .bar {
    background-color: #1fdf64;
}

/* ----------------------------------------------------------------- */


/* @Media Query */

/* 4 cover */
@media screen and (max-width: 1100px) {
    .cover {
        width: calc((100% / 4) - 1rem);
    }
}

/* 2 cover */
@media screen and (max-width: 760px) {
    .cover {
        width: calc((100% / 2) - 1rem);
    }

    .play-bar-title-song {
        padding: .2rem;
    }

    .now-playing img {
        width: 3rem;
        height: 3rem;
    }

    .bottom-slider {
        padding: 0 20%;
    }
}

/* 2 cover + left ridotto*/
@media screen and (max-width: 600px) {

    .left-bar {
        min-width: 60px;
    }

    .left-bar>* {
        padding: 0;
    }

    .left-bar .logo {
        padding: 1rem;
    }

    .bottom-left-bar {
        align-items: center;
    }

    .left-bar span,
    .left-bar .left-bar-my-playlist,
    .create-playlist {
        display: none;
    }

    .bottom-left-bar {
        margin-top: auto;
    }

    .logo .logo-big {
        display: none;
    }

    .logo .logo-small {
        display: inline;
    }

    .bottom-left-bar hr {
        color: transparent;
    }

    .user .svg {
        margin: 0;
    }

    .bottom-player button {
        margin: 0;
        padding: 0 0.3rem;
    }

}